.table-list {
    $this-font-size: $font-size-base;
    $this-padding-y: 1.15em;
    width: 100%;
    margin-top: 1.2rem;
    text-align: left;
    border-collapse:collapse;
    border: none;

    td,
    th {
        padding: $this-padding-y $content-gutter-width;
        position: relative;
        transition: font-size .1s, padding .1s;

        @media (max-width: $breakpoint-lg - 1px) {
            font-size: $this-font-size * 0.85;
            padding: $content-gutter-width / 2 $content-gutter-width / 2.2;
        }

        &.align-right {
            text-align: right;
        }
        &.align-center {
            text-align: center;
        }
    }

    thead {
        th {
            white-space: nowrap;
            svg {
                margin-right: -5px;
                margin-bottom: -5px;
                margin-left: 3px;
                transition: transform .2s;
                
                @media (max-width: $breakpoint-lg - 1px) {
                    zoom: .9;
                }
                
                use {
                    color: $color-gray-300;
                    transition: color .2s;
                }
            }
    
            a {
                color: inherit;
                cursor: pointer;
    
                &.active, 
                &:hover {
                    svg {
                        use {
                            color: inherit;
                        }
                    }
                }
                &.is-selected, 
                &:active {
                    svg {
                        use {
                            color: inherit;
                        }
                    }
                &.is-pointing-up {
                    svg {
                        transform: rotate(-180deg);
                    }
                }
                }
                &.is-selected:active svg {
                    transform: rotate(-180deg);
                }
                &.is-selected.is-pointing-up:active svg {
                    transform: rotate(0);
                }
            }
            &.table-title:first-child {
                font-size: $this-font-size * 1.3;
                padding-top: 2.5em;
                padding-left: 0;

                @at-root .table-list:first-of-type .table-title:first-child {
                    padding-top: $this-padding-y;
                }
                @media (max-width: $breakpoint-lg - 1px) {
                    font-size: $this-font-size;
                }
            }
        }
    }

    tbody {
        & > tr:nth-child(odd) {
            background-color: $color-gray-100;
        }
        a {
            padding: 0 !important;
            cursor: pointer;
        }

        td {
            white-space: nowrap;
            &:not(.align-right) {
                strong {
                    white-space: initial;
                }
            }
            
            & > svg.icon {
                margin-left: .5em;
                margin-bottom: -.24em;
                @media (max-width: $breakpoint-lg - 1px) {
                    margin-left: 0;
                    margin-bottom: -.3em;
                    transform: scale(.8);
                }
            }
            &.photo, 
            &.square-photo {
                padding-top: 2.2em;
                padding-bottom: 2.2em;
                img {
                    height: auto;
                    width: auto;
                    position: absolute;
                    left: auto;
                    top: 50%;
                    transform: translateY(-50%);

                    
                }
            }
            &.photo {
                width: 120px;
                @media (max-width: $breakpoint-lg - 1px) {
                    width: 85px;
                }
                img {
                    max-height: 50px;
                    max-width: 93%;
                    @media (max-width: $breakpoint-lg - 1px) {
                        max-height: 35px;
                    }
                }
            }

            &.square-photo {
                width: 100px;
                @media (max-width: $breakpoint-lg - 1px) {
                    width: 80px;
                }
                img {
                    max-height: 60px;
                    @media (max-width: $breakpoint-lg - 1px) {
                        max-height: 45px;
                    }
                }
            }
            .table-text-2 {
                color: $color-gray-700;
                white-space:initial;
            }
            .wrap-text {
                white-space: normal;
            }
            .table-inline-link { //(Dækinformation bl.a.)
                display: inline-block;
                color: inherit;
                text-decoration: underline;
                &:not(:last-of-type) {
                    &:after {
                        content:",";
                        display: inline;
                        padding-right: .25em;
                    }
                }
            }
            small {
                font-size: .875rem;
            }
        }

        // If the entire row needs to behave as a link:
        // Every <td> in the <tr> must contain a <a class="rowlink"></a> folowed by the td's content. 
        // By this method a <td> can also contain a secondary link: <td> <a class="rowlink"></a> <a class="rowsublink">icon or text</a>
        tr {
            a.rowlink {
                display: block;
                position: absolute;
                z-index: 0;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                background-color: transparent;
                transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
            }
            a.rowsublink {
                position: relative;
                z-index: 1;
                svg {
                    transition: color .2s ease-in-out;
                }
                &:hover {
                    svg {
                        opacity: 1;
                        color: $color-blue-primary;
                    }
                }
            }

            &:hover {
                &:nth-child(odd) {
                    a.rowlink {
                        border-color: darken($color-gray-100, 1.5);
                        background-color: rgba($color-gray-100, .3);
                    }
                }
                &:nth-child(even) {
                    a.rowlink {
                        border-color: darken($color-gray-100, 1.5);
                        background-color: rgba($color-gray-100, .3);
                    }
                }
            }
        }
    } 
    tfoot {
        
        td {
            font-size: rem(12px);
            padding-top: $this-padding-y / 2;
            padding-bottom: $this-padding-y / 2;
            padding-left: 0;
            padding-right: 0;
        }
        tr:first-child td {
            padding-top: 3rem;
        }
        tr:last-child td {
            padding-bottom: 3rem;
        }
    }
}