@import url(../global.css);

table {
    border: none;
    border-collapse: collapse;

    font-size: 16px;
    font-family: sans-serif;
    text-align: left;

    width: 100%;
}

table td,
table th {
    padding: 1em;
    position: relative;
    transition: font-size 0.1s, padding 0.1s;
}

table th.align-right,
table td.align-right {
    text-align: right;
}

table th.align-center,
table td.align-center {
    text-align: center;
}

thead {
    position: sticky;
    inset-block-start: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 0 0 gray;
    /* blink browsers */
}

thead th {
    box-shadow: 0 2px 0 0 gray;
    /* webkit browsers */
}

/* Small desktop devices */
@media (max-width: 1299px) {

    table td,
    table th {
        font-size: smaller;
    }
}

/* ------ Decorative content styling -------- */
table .in-stock {
    color: green;
}
table .out-of-stock {
    color: red;
}