.table {
    position: relative;
    width: 100%;

    /* ------ Functional styles -------- */
    &.no-overflow {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        max-height: 70vh; 
        /* The table-max-height on mobile devices if sticky column is active.
        (Unfortunately the overflow container needs a height. 
        Otherwise the sticky header won't work) */

        /* ------ Swipe-Info styles -------- */
        &.swipe-info::before {
            opacity: 0;
            content: "";
            pointer-events: none;
            position: fixed;
            z-index: 4;
            top: 35%;
            left: 50%;
            transform: translate(-50%);
            background-color: WhiteSmoke;
            background-image: url(./swipe-static.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100px 100px;
            border: 1px solid black;
            border-radius: 20px;
            width: 80px;
            height: 80px;
            animation-name: swipe-info;
            animation-duration: 2.25s;
            animation-delay: 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }

    &.sticky-header {
        thead tr {
            position: sticky;
            inset-block-start: 0;
            z-index: 2;
        }
    }

    &.sticky-column {
        tr > :first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            opacity: 0.92;
            font-weight: bold;
            @media only screen and (max-width: 991px) {
                min-width: 150px;
            }
        }
        thead tr > th:first-child {
            /* Top-Left cell need a higher z-index: */
            z-index: 3;
            opacity: 1;
        }
    }

    /* ------ Table styles -------- */
    table {
        border: none;
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        th, td {
            padding: 1em;
            transition: font-size 0.1s, padding 0.1s;
            @media (max-width: 991px) {
                font-size: smaller;
            }
        }
    }

    thead {
        tr {
            box-shadow: 0 2px 0 0 White;
            /* box-shadow on head for the blink browsers */
        }
        th {
            background-color: WhiteSmoke;
            box-shadow: 0 2px 0 0 White;
            /* box-shadow on th for thewebkit browsers */
        }
    }

    tbody {
        tr {
            &:last-child {
                border-block-end: 1px solid WhiteSmoke;
            }
            > :first-child {
                box-shadow: inset -1px 0 WhiteSmoke;
                /* adds a vissible border between first and second column */
            }
            &:nth-child(odd) td {
                background-color: White;
            }
            &:nth-child(even) td {
                background-color: WhiteSmoke;
            }
        }
    }

    /* ------ Table-cells helper styles -------- */
    .align-right {
        text-align: right;
    }
    .align-center {
        text-align: center;
    }

    /* ------ Table Content styles -------- */
    .nowrap {
        white-space: nowrap;
    }

    small {
        display: block;
        font-weight: normal;
    }

    .in-stock {
        color: green;
    }

    .out-of-stock {
        color: red;
    }
    
    /* ------ Animation keyframes for swipe info graphic -------- */
    @keyframes swipe-info {
        from {
            opacity: 0;
        }
        25% {
            opacity: 0.95;
        }
        75% {
            opacity: 0.95;
        }
        to {
            opacity: 0;
        }
    }
}
