/* 
    ToDo 1: Sticky first column needs to be optional if column 1 is no more leading than column 2, 3, etc. 
            The overflow still needs to be set, so we need to separate into two classNames like 'overflow-x-lock' and 'sticky-column'
    ToDo 2: Rewrite css to scss. 
*/
/* ------ Functional styling -------- */
.table {
  position: relative;
  width: 100%;
  /* ------ Responsive styling -------- */
  /* Small desktop devices */
  /* ------ Swipe-Info styling -------- */
  /* ------ Decorative styling -------- */
}
.table table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
.table thead tr {
  position: sticky;
  inset-block-start: 0;
  z-index: 2;
}
.table.table-sticky-column {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  height: 75vh;
  /* Unfortunately the overflow container needs a height. 
  Otherwise the sticky header won't work */
}
.table.table-sticky-column tr > :first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  opacity: 0.92;
  font-weight: bold;
}
@media only screen and (max-width: 991px) {
  .table.table-sticky-column tr > :first-child {
    min-width: 150px;
  }
}
.table.table-sticky-column thead tr > th:first-child {
  z-index: 3;
  opacity: 1;
}
@media (max-width: 1299px) {
  .table table td,
.table table th,
.table .article {
    font-size: smaller;
  }
}
.table.show-swipe-info::before {
  opacity: 0;
  content: "";
  pointer-events: none;
  position: fixed;
  z-index: 4;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  background-color: WhiteSmoke;
  background-image: url(./swipe-static.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 100px;
  border: 1px solid black;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  animation-name: swipe-info;
  animation-duration: 2.25s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes swipe-info {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.95;
  }
  75% {
    opacity: 0.95;
  }
  to {
    opacity: 0;
  }
}
.table table {
  text-align: left;
}
.table table td,
.table table th {
  padding: 1em;
  transition: font-size 0.1s, padding 0.1s;
}
.table table th.align-right,
.table table td.align-right {
  text-align: right;
}
.table table th.align-center,
.table table td.align-center {
  text-align: center;
}
.table table .nowrap {
  white-space: nowrap;
}
.table table small {
  display: block;
  font-weight: normal;
}
.table thead tr {
  box-shadow: 0 2px 0 0 White;
  /* box-shadow on head for the blink browsers */
}
.table thead th {
  background-color: WhiteSmoke;
  box-shadow: 0 2px 0 0 White;
  /* box-shadow on th for thewebkit browsers */
}
.table tr > :first-child {
  box-shadow: inset -1px 0 WhiteSmoke;
  /* adds a vissible border between first and second column */
}
.table table tbody tr:nth-child(odd) td {
  background-color: White;
}
.table table tbody tr:nth-child(even) td {
  background-color: WhiteSmoke;
}
.table table tbody tr:last-child {
  border-block-end: 1px solid WhiteSmoke;
}
.table table .in-stock {
  color: green;
}
.table table .out-of-stock {
  color: red;
}

.article {
  padding-inline: 1em;
  line-height: 1.5;
  color: gray;
}
@media (max-width: 1299px) {
  .article {
    font-size: smaller;
  }
}
.article p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.article.attention {
  color: black;
}

/*# sourceMappingURL=table.css.map */
