/* ------ Functional styling -------- */
.table {
    position: relative;
    width: 100%;

    table {
        border: none;
        border-collapse: collapse;
        width: 100%;
    }

    thead tr {
        position: sticky;
        inset-block-start: 0;
        z-index: 2;
    }

    &.table-sticky-column {
        overflow-x: auto;
        max-height: 60vh;
        /* Unfortunately the overflow container needs a height. 
        Otherwise the sticky header won't work */
        tr > :first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            @media only screen and (max-width: 991px) {
                min-width: 150px;
            }
        }
        thead tr > th:first-child {
            // Top-Left cell has a higher z-index:
            z-index: 3;
        }
    }

    /* ------ Responsive styling -------- */
    /* Small desktop devices */
    @media (max-width: 1299px) {
        table td,
        table th {
            font-size: smaller;
        }
    }

    /* ------ Swipe-Info styling -------- */
    &.show-swipe-info::before {
        opacity: 0;
        content: "";
        pointer-events: none;
        position: fixed;
        z-index: 4;
        top: 30%;
        left: 50%;
        transform: translate(-50%);
        background: white url(./animation.gif) no-repeat;
        border: 1px solid black;
        border-radius: 50px;
        width: 180px;
        height: 180px;
        animation-name: swipe-info;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes swipe-info {
        from {
            opacity: 0;
        }
        5% {
            opacity: 0.9;
        }
        95% {
            opacity: 0.9;
        }
        to {
            opacity: 0;
        }
    }

    /* ------ Decorative styling -------- */
    table {
        font-size: 16px;
        font-family: sans-serif;
        text-align: left;
    }

    table td,
    table th {
        padding: 1em;
        transition: font-size 0.1s, padding 0.1s;
    }

    table th.align-right,
    table td.align-right {
        text-align: right;
    }

    table th.align-center,
    table td.align-center {
        text-align: center;
    }

    table small {
        display: block;
    }

    thead tr {
        box-shadow: 0 2px 0 0 White;
        /* box-shadow on head for the blink browsers */
    }

    thead th {
        background-color: WhiteSmoke;
        box-shadow: 0 2px 0 0 White;
        /* box-shadow on th for thewebkit browsers */
    }

    tr > :first-child {
        box-shadow: inset -1px 0 WhiteSmoke;
        /* adds a vissible border between first and second column */
    }

    table tbody tr:nth-child(odd) td {
        background-color: White;
    }

    table tbody tr:nth-child(even) td {
        background-color: WhiteSmoke;
    }

    table tbody tr:last-child {
        border-block-end: 1px solid WhiteSmoke;
    }

    table .in-stock {
        color: green;
    }

    table .out-of-stock {
        color: red;
    }
}
